<!-- <section [ngSwitch]="name">
  <p *ngSwitchCase="'Ajit'">ajit is kid</p>
  <p *ngSwitchCase="'Sagar'">sagar is pro</p>
  <p *ngSwitchCase="'kulio'">kuilo is legend</p>
  <p *ngSwitchDefault>found no person </p>
</section> -->

<section>
  <nav>
    <ul>
      <li (click)="openTab()" [class.active]="currentTab==''">Home</li>
      <li (click)="openTab('about')" [class.active]="currentTab=='about'">About </li>
      <li (click)="openTab('profile')" [class.active]="currentTab=='profile'">Profile</li>
      <li (click)="openTab('contact')" [class.active]="currentTab=='contact'">Contact</li>
    </ul>
  </nav>
</section>

<section [ngSwitch]="currentTab">
  <div *ngSwitchCase="'about'">I am on About section</div>
  <div *ngSwitchCase="'profile'">My Profile</div>
  <div *ngSwitchCase="'contact'">Contact Page  
    <form action="#">
    name<input type="text"/><br/>
    email<input type="text"/><br/>
    </form>
  </div>
  <div *ngSwitchDefault>Home page content</div>
</section>