<!-- <ul>
  <li *ngFor="let name of names">
    {{name}}
  </li>
</ul> -->

<section>
  <div *ngFor="let user of users; let i = index;">
    <p>Sr. No {{i+1}}</p>
  <p>Name: {{user.name}}</p>
  <!-- <p>Email: {{user.email}}</p>
  <p>Skill: {{user.skill}} </p> -->
  <button (click)="showAndEdit(i)">Show Details/Edit</button>
  
</div>
</section>

<section *ngIf="curentUser">
  Name <input type="text" name="name" (keyup)="setValue($event)" [value]="curentUser.name" [disabled]="isDisabled"/>
  Email <input type="text" name="email" (keyup)="setValue($event)" [value]="curentUser.email"[disabled]="isDisabled"/>
  Skill <input type="text"  name="skill" (keyup)="setValue($event)" [value]="curentUser.skill"[disabled]="isDisabled"/>
  Website <input type="text" name="website" (keyup)="setValue($event)" [value]="curentUser.website"[disabled]="isDisabled"/>

 <button (click)="enableEditing()">Enable Editing</button>
</section>