<!--The content below is only a placeholder and can be replaced.-->
<input type="text" (keyup)="setText($event)"/>

<div>
  <p>Font SIze: {{ textSize }}px</p>
  <!-- <button (click)="setSize('inc')">+</button>
  <button (click)="setSize('dec')">-</button> -->
  <input (input)="setSize($event)" type="range" min="10"  max="110" value="10">
</div>

<select (change)="setColor($event)">
  <option value="primary">Primary</option>
  <option value="success">Success</option>
  <option value="warning">Warning</option>
  <option value="danger">Danger</option>
</select>

<hr/>
<p [style.fontSize.px]="textSize" [class]="textCls">{{text }}</p>

